<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>33965675312-2kloouolgcldpiu4m3bjijagm2qiuttu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.33965675312-2kloouolgcldpiu4m3bjijagm2qiuttu</string>
	<key>API_KEY</key>
	<string>AIzaSyDRqXaiLUpCTj9K7zmv-z543XX8wFP3yLU</string>
	<key>GCM_SENDER_ID</key>
	<string>33965675312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taamApp</string>
	<key>PROJECT_ID</key>
	<string>taamm-1726f</string>
	<key>STORAGE_BUCKET</key>
	<string>taamm-1726f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33965675312:ios:b8fa73ddb3523949baaef5</string>
</dict>
</plist>